<!doctype html>
<title> onboarding_project </title>

<div>
    <h3> Enter stock label and month to get closing price over the month </h3>
</div>
    
<div>
    <form id='stock_entry' method='post'>
    Stock label:
    <br>
    <input type='text' name='stock_label_entry' placeholder='GOOG'>
</div>

<div>
    </br>
    <form id='month_entry' method='post'>
    Month (MM-YYYY format):
    <br>
    <input type='text' name='month_entry' placeholder='10-1929'>
</div>

<div>
     <form id = 'enter_button' method = 'post'>
     <input type='submit' value='Enter' />
</div>